<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex justify-center items-center h-screen">
  <div class="bg-white p-4 rounded-md shadow-md">
    <h1 class="text-2xl font-bold">{{ title }}</h1>
    <p class="text-gray-600">{{ description }}</p>
    <ul class="list-disc pl-5">
      {{#each routes}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</body>

</html>